<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID"
         version="3.0">
    <display-name>Shellshock</display-name>


    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/res/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>com.shellshock.servlet.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>command</servlet-name>
        <servlet-class>com.shellshock.servlet.CommandLineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>command</servlet-name>
        <url-pattern>/command</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>shellshock</servlet-name>
        <servlet-class>com.shellshock.servlet.ShellshockServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>shellshock</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>download</servlet-name>
        <servlet-class>com.shellshock.servlet.DownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>shellshock</welcome-file>
    </welcome-file-list>
</web-app>